<h1>Login</h1>
<%- include ('./partials/messages') %>

<form action="/users/login" method="POST">
    <div>
        <label for="email">User Name</label>
        <input 
        type="string"
        name="name"
        placeholder="Enter User name"
        />
    </div>
    <div>
        <label for="password">Password</label>
        <input
        type="password" 
        name="password"
        placeholder="Enter Password"
        />
    </div>
    <button type="submit" class="btn btn-primary btn-lock">Login</button>
</form>