<h1>Reset user mfa code</h1>

<form action="/userop/rst_user_secret" method="POST">
    <div>
        <label for="password">password</label>
        <input type="password" name="password" placeholder="Enter password" />
    </div>
    <div>
        <label for="name">User name to reset</label>
        <input type="string" name="name" placeholder="Enter the user name" />
    </div>
    <%- include ('./partials/messages') %>
        <button type="submit" class="btn btn-primary btn-lock">reset</button>
</form>
<form action="/dashboard">
    <input type="submit" value="Back to dashboard">
</form>